#tr {
    border-right-color: white; 
    border-left-color: white;
    color:#888796;

  }
  #price {
    border-right-color: white; 
    border-left-color: white;
    color: #36B9CC;
  }  

  #head{
    color: #2D54C6;
    background: #F8F9FC;
    

  }





